<meta name="viewport" content="width=550, initial-scale=1">
<div class='not-move dev'>
  <div class="container">
    <div class="row dev">
      <div class='headertop1'>
        <span class="eight columns" id="site-tagline">
          <%= image_tag('logo.png', :style => "width: 50px; hieght: 50px;") %>
           Be Kind <span id="tagline2"> for no good reason.</span></span>

        <span class="three columns dev" id="greetings"> <h7><%= @user.username %> </h7>
          <a href="/hands"> <button type="button" name="button"> Home </button> </a>
        </span>
        <span class="one columns dev" id="logout"> <h7>
          <%= form_tag('/session_log_out', method: :delete) do %>
            <%= submit_tag "Log-Out" %>
            <% end %>
        </span>
      </div>

    </div>
    <div class="twelve columns dev">
      <span class="three columns dev" id="share-something-form-toggle"> Share something kind </span>
      <span class="three columns dev" id="hot-tab"> <a href="/hands"> Small Acts, Big Impacts </a></span>
      <span class="three columns dev" id="new-tab"> <a href="/hands"> Newest Acts of Kindness </a></span>
      <span class='twelve columns dev'>
        <div class="submit-form dev">
            <form action= "/hands" enctype="multipart/form-data" class="new_hand" id="new_hand">
              <%= token_tag %>
              <div class="u-full-width">
                <label for="headline">Headline</label>
                <input id="headline" type="text" name="hand[title]" placeholder="Headline....">
              </div>
              <div class="u-full-width">
                <label for="actOfKindness">Describe the kind act</label>
                <input id="actOfKindness" type="text" name="hand[message]" placeholder="Act of Kindness....">
              </div>
              <input type="file" name="hand[image]" id="file">
            </br>
              <input id="submit-hand" class="button-primary" type="submit" value="Share the Love!">
            </form>
        </div>

      </span>
</div>

</div>

</div>


<div class="container">
  <div class="top">
    <div class="row" id="header">
      <div class="one-third column"> <h5>Map page</h5> </div>

      <div class="one-third column">
        <h5 id="greetings"> <%= @user.username %> </h5>
      </div>

      <div class="one-third column">

      </div>
    </div>

          <div class='map' id='map'></div>
  </div>

</div>



<script>
////////////MAPBOX
  // var map = L.mapbox.map('map', 'mapbox.streets')
  //     .setView([41.893974, -87.627945], 16);
  //     map.zoomControl.setPosition('bottomleft');
  //
  //     $.ajax({
  //         method: 'get',
  //         url: '/api',
  //         dataType: 'json',
  //         })
  //       .done(function(data){
  //         console.log(data)
  //
  //         for (var i = 0; i < data.length; i++) {
  //           console.log(data[i].lat, data[i].long)
  //           var marker = new L.Marker(new L.LatLng(data[i].lat, data[i].long));
  //           map.addLayer(marker);
  //             marker.on('click', function(e) {
  //              var tooltip = new mapboxgl.Popup()
  //                 .setLatLng(map.unproject(e.point))
  //                 .setHTML('<h1>Hello World!</h1>')
  //                 .addTo(map);
  //           });
  //         }
  //       });

//DECLARES TIME/DATE VARS
var today = new Date();
var hourNow = today.getHours();
var greeting;
var display = $('#greetings')

//DISPLAYS TIME-BASED GREETING TO CURRENT_USER
function heyYall(){
  if (hourNow > 18){
    greeting = 'Good Evening, ';
  } else if (hourNow > 12){
    greeting = 'Good Afternoon, ';
  } else if (hourNow > 0){
    greeting = 'Good Morning, ';
  } else {
    greeting = 'Welcome, ';
  }
  display.prepend(greeting);
}

heyYall()
</script>
